<footer>
    <div class="inner">
        <h2>Scrobble Shazam songs now</h2>
        <nav class="distribution">
            <a class="button button-github" href="https://github.com/stephanebruckert/ShazamScrobbler" target="_blank">View on GitHub</a>
            <a class="button button-download" href="https://github.com/stephanebruckert/ShazamScrobbler/releases/download/v{{ site.current }}/ShazamScrobbler-v{{ site.current }}.dmg">Download</a>
        </nav>
        <div class="row">
            <p>Copyright © 2015 <a href="{{ site.owner.website }}" target="_blank">{{ site.owner.name }}</a>. Hosted on <a href="https://github.com/{{ site.owner.github }}/{{ site.social.github}}/tree/gh-pages">GitHub Pages</a>.</p>
            <ul>
                <a class="twitter-share-button" data-text="Now scrobbling from @Shazam for Mac to @Last.fm" data-counturl="shazamscrobbler.com" data-size="large">Tweet</a>
                <iframe src="https://ghbtns.com/github-btn.html?user={{ site.owner.github }}&repo={{ site.social.github }}&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </ul>
        </div>
    </div>
</footer>
<script>
window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>
