<header>
    <div class="inner">
        <div class="block">
            <h1>{{ site.name }}</h1>
            <p>For Mac OS X</p>
            <nav class="distribution">
                <a class="button button-github" href="https://github.com/stephanebruckert/ShazamScrobbler" target="_blank">View on GitHub</a>
                <a class="button button-download animated pulse" href="https://github.com/stephanebruckert/ShazamScrobbler/releases/download/v{{ site.app.current }}/ShazamScrobbler-v{{ site.app.current }}.dmg">Download</a>
            </nav>
            <small>Requires {{ site.app.os }} and works great with Shazam {{ site.app.shazam-version }}.</small>
        </div>
        <div class="screen">
        </div>
    </div>
</header>
